.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: #95b8bf;
  border-radius: 10px;
  padding: 10px;
}

.inner-card {
  background-color: #789aa1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-y: scroll;
  height: 300px;
}

.song-video {
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-button {
  border-radius: 5px;
  margin-left: 5px;
  background-color: #c95151;
  color: white;
  height: 100%;
}

.add-song-button {
  width: 100%;
  background-color: lightgreen;
  outline: lightgreen;
}

.add-song-button:hover {
  background-color: #9ad173;
}

.delete-playlist-button {
  width: 100%;
  background-color: #f05c51;
}

.delete-playlist-button:hover {
  background-color: red;
}

.playlist-title-h2 {
  color: black;
}

.song-title-h4 {
  font-size: 10px;
  width: 20%;
  margin-right: 10px;
}

.arrow-playlist-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#left-arrow-button, #right-arrow-button {
  height: 85vh;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
}

#add-new-playlist-button {
  font-size: 24px;
}